[flake8]
extend-ignore =
    # E203 Whitespace before ":"
    E203,

    # E266, # E266 Too many leading "###" for block comment

    # E501 line too long (XX > 79 characters)
    E501

    # W503, # W503 Line break before binary operator
    # F403, # F403 Used `from module import *`
    # F401 # F401 `module` imported but not used
exclude =
    # No need to traverse our git directory
    .git,

    # There's no value in checking cache directories
    __pycache__,

    # No need to traverse example code
    */examples/*,

    # No need to traverse docs
    docs/*

    # No need to traverse virtual environment
    .venv/*

    # No need to traverse these items
    .mypy_cache/*
    build/*
    dist/*
    .vscode/*
max-complexity = 10
max-line-length = 120
per-file-ignores = __init__.py:F401
